# Django settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (для production - Railway PostgreSQL)
# DATABASE_URL=postgresql://user:password@host:port/dbname

# TMDB API Key - получите на https://www.themoviedb.org/settings/api
TMDB_API_KEY=c0c811e14b7d973d41c9c5bbb8d59a58
